
/*header layout*/
.amazon-header{
  display:flex;
  flex:1;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color:rgb(19,25,33);
  color: white;
  width: 100%;
  align-items: center;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
}
/*header-left part*/
.amazon-header .left-section{
 
  width: 180px;
 
}
.amazon-header .header-link{
  display:inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0);
}
.amazon-logo{
  width: 100px;
  margin-top: 7px;
}
/*header-middle part（searchbar）*/
.amazon-header .middle-section{
  display: flex;
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.amazon-header .header-search{
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.amazon-header .search-button{
  height: 40px;
  width: 45px;
  background-color: rgb(254,189,105);
  cursor: pointer;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}
.amazon-header .search-icon{
  height: 22px;
  margin-left:2px;
  margin-top: 3px;
}
/*header-right section*/
.amazon-header .right-section{
  display: flex;
  justify-content: end;
  width: 180px;
  flex-shrink: 0;

  
}
.right-section .left-right-section{
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}
.amazon-header .return-order1{
  display: block;
  
  font-size: 13px;
  
}
.amazon-header .return-order2{
  display: block;
  
  font-size:15px;
  font-weight:700;
}
 .amazon-header .left-left-section{
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
 }
 .amazon-header .order-cart-picture{
  width: 50px;
 }
.amazon-header .cart-quantity{
  position: absolute;
  left: 16px;
  top: 4px;
  width: 26px;
  text-align: center;
  color: rgb(240,136,4);
  font-weight: 700;
  font-size: 16px;

}
.amazon-header .cart-text{
  margin-top:12px;
  font-size: 15px;
  font-weight: 700;
  margin-right: 25px;
}