.checkout-header{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 80%;
  position: fixed;
  top: 0;
  left: 100px;
 
  
}
.checkout-header .header-left{
  width: 150px;
}
.checkout-header .amazon-logo{
  
  width: 100px;
  margin-top: 15px;
}

.checkout-header .middle-text{
  font-size: 25px;
  
  font-weight: 500;
  margin-left: 20px;
}
.checkout-header .item-quantity{
  color:rgb(0,113,133);
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}


/*checkout main part*/
main{
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.review-text{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}
.cartorder-and-ordersummary{
  
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items: start;
}
.cartorder-and-ordersummary .product-1{
  margin-bottom: 12px;
  border: 1px solid rgb(222,222,222);
  border-radius: 4px;
}
.cart-order .delivery-date{
  color: rgb(0,118,0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}
.product-1 .product-container{
 display: grid;
 grid-template-columns: 100px 1fr 1fr;
 column-gap: 25px;
}


.product-1 .product-image{
  max-width:100%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.product-1 .product-name{
  font-weight: 700;
  margin-bottom: 8px;

}
.product-1 .product-price{
  font-weight: 700;
  margin-bottom: 5px;
  color: rgb(177,39, 4);
}

.product-1 .product-quantity-button{
  cursor: pointer;
  color: #017cb6;
}
.delivery-option-input{
  margin-left: 0px;
  margin-right: 5px;
  cursor: pointer;
}
.product-1 .radio-and-words{
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.product-1 .delivery-choosetext{
  font-weight: 700;
  margin-bottom: 10px;
}
.product-1 .delivery-exact-date{
  
  color:rgb(0,118,0);
  font-weight: 500;
  margin-bottom: 3px;
}
.product-1 .delivery-fee{
  
  color: rgb(120,120,120);
  font-size: 15px;
}



/**/
/*order-summary part*/
.cartorder-and-ordersummary .order-summary{
  padding-bottom: 5px;
  border: 1px solid rgb(222,222,222);
  border-radius: 4px;
  padding: 18px;
}
.order-summary-text{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.payment-summary-row{
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 15px;
  margin-bottom: 9px;
}
.payment-summary-money{
  text-align: right;
}
.subtotal-row{
  padding-top: 10px;
}
.order-total-section {
  color:rgb(177,39,4);
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid rgb(222,222,222);
  padding-top: 18px;
}
.place-button-section{
  margin-top: 20px;
}
.order-summary .place-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 19px;
  border-radius: 10px;
  color: black;
  background-color: rgb(255,216,20);
  border:1px solid rgb(252,210,0);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213,217,217,0.5);
  
}
