.main{
  
  max-width: 850px;/*加入这个会成响应式的感觉，大小不是固定似的*/
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;/*这两个auto，让该元素居于父container中间*/
  margin-right: auto;
}
.page-title{
  
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}
.main .order-infor-total{
  
  display:grid;
  grid-template-columns: 1fr;
  margin-bottom: 60px;
} 
.main .order-header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(240,242,242);
  border: 1px solid rgb(213,217,217);
  padding:20px 25px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}
.main .header-left-section{
  display: flex;
  flex-direction: row;
  gap: 40px;
  
}
.main .header-text{
  font-weight: 500;
}
.main .order-product-img{
  max-width: 110px;
  max-height: 110px;
}
.main .order-product-container{
  padding: 40px 25px;
  border: 1px solid rgb(213,217,217);
  border-top: none;
  
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
  
}
.main .order-product-name{
  font-weight: 700;
  margin-bottom: 5px;
}
.main .order-arriving-date{
  margin-bottom:3px;
}
.main .order-quantity{
  margin-bottom: 8px;
}
.order-product-container .buyagain-logo{
  width: 25px;
  margin-right: 15px;
}
.order-product-container .buy-again-button{
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 15px;
  width: 140px;
  height: 36px;
  border-radius: 8px;
  background-color: rgb(255,216,20);
  border: 1px solid rgb(252,210,0);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213,217,217,0.5);
}
.track-order-button{
  width: 100%;
  font-size: 15px;
  padding: 8px;
  background: white;
  border: 1px solid #D5D9D9;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213,217,217, 0.5);
}